/* style one */

::-webkit-scrollbar {width:6px;height:3px;}
::-webkit-scrollbar-button {background-color:rgba(48,48,48,1);}
::-webkit-scrollbar-track {background: #FF5757;
background: -webkit-linear-gradient(top left, #FF5757, #EE3737);
background: -moz-linear-gradient(top left, #FF5757, #EE3737);
background: linear-gradient(to bottom right, #FF5757, #EE3737);}
::-webkit-scrollbar-track-piece {background-color:rgba(100,96,96,1);}
::-webkit-scrollbar-thumb {height:50px; background: #FF5757;}
::-webkit-scrollbar-corner {background-color:rgba(238,238,238,1);}
::-webkit-resizer {background-color:rgba(166,166,166,1);}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF5757;
background: -webkit-linear-gradient(top left, #EE3737, #FF5757);
background: -moz-linear-gradient(top left, #EE3737, #FF5757);
background: linear-gradient(to bottom right, #EE3737, #FF5757);
}

/*MOZILLA STORE*/
/* overflow-y:scroll;
scrollbar-color:#8276f1 #f9f9f9;
scrollbar-width:thin; */
@supports (scrollbar-color: red blue){
  *{
    scrollbar-color:#8276f1 #f9f9f9;
    scrollbar-width:thin;
  }
}





/* style two */



::-webkit-scrollbar {width:10px;height:3px;}
/* aupar nicha ke dandiyan */
::-webkit-scrollbar-button {background-color:#645cbc; border-radius:10px;}
::-webkit-scrollbar-button:hover {background-color:#494949;}
/* aupar nicha ke dandiyan */
::-webkit-scrollbar-track {background: #f9f9f9;
background: -webkit-linear-gradient(top left, #8a28ed, #645cbc);
background: -moz-linear-gradient(top left, #8a28ed, #645cbc);
background: linear-gradient(to bottom right, #8a28ed, #645cbc);}
::-webkit-scrollbar-track-piece {background: #f9f9f9;  }
::-webkit-scrollbar-thumb {height:50px; background: #8a28ed; border-radius: 10px;}
::-webkit-scrollbar-corner { height:50px; background: #645cbc; border-radius: 10px;}
::-webkit-resizer {background: #645cbc;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a28ed;
background: -webkit-linear-gradient(top left, #7a5dfc, #8a28ed);
background: -moz-linear-gradient(top left, #645cbc, #8a28ed);
background: linear-gradient(to bottom right, #645cbc, #8a28ed);
}

/* style three you can define height to dandyian */



::-webkit-scrollbar {width:10px;height:3px;}
/* aupar nicha ke dandiyan */
::-webkit-scrollbar-button {background-color:#645cbc; border-radius:5px; height:130px}
::-webkit-scrollbar-button:hover {background-color:#494949;}
/* aupar nicha ke dandiyan */
::-webkit-scrollbar-track {background: #f9f9f9;
background: -webkit-linear-gradient(top left, #8a28ed, #645cbc);
background: -moz-linear-gradient(top left, #8a28ed, #645cbc);
background: linear-gradient(to bottom right, #8a28ed, #645cbc);}
::-webkit-scrollbar-track-piece {background: #f9f9f9;  }
::-webkit-scrollbar-thumb {height:50px; background: #8a28ed; border-radius: 10px;}
::-webkit-scrollbar-corner { height:50px; background: #645cbc; border-radius: 10px;}
::-webkit-resizer {background: #645cbc;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a28ed;
background: -webkit-linear-gradient(top left, #7a5dfc, #8a28ed);
background: -moz-linear-gradient(top left, #645cbc, #8a28ed);
background: linear-gradient(to bottom right, #645cbc, #8a28ed);
}